.pills {
  position: relative;
  @media (max-width:500px) {
    display: none;
  }

  &__pill {
    position: absolute;
    opacity: 0.5;
    transform: rotate(25deg);

    &--1 {
      @include oval(50px);
      border: 3px solid #fcc304;
      top: 460px;
      left: 480px;

      @media (max-width:520px) {
        display: none;
      }
    }

    &--2 {
      @include oval(100px);
      border: 3px solid #bc04fc;
      top: 520px;
      left: 130px;
    }

    &--3 {
      @include oval(140px);
      border: 3px solid #03d542;
      top: 270px;
      left: 280px;
    }

    &--4 {
      @include oval(50px);
      border: 3px solid #bc04fc;
      top: 110px;
      right: 110px;
    }

    &--5 {
      @include oval(140px);
      border: 3px solid #03d542;
      top: 130px;
      right: 215px;
    }

    &--6 {
      @include oval(70px);
      border: 3px solid #56ccf2;
      top: 370px;
      left: 80px;
    }

    &--7 {
      @include oval(150px);
      border: 3px solid #56ccf2;
      top: 415px;
      right: 145px;
    }

    &--8 {
      @include oval(75px);
      border: 3px solid #fcc304;
      top: 275px;
      right: 70px;
    }

    &--9 {
      @include oval(45px);
      border: 3px solid #03d542;
      top: 515px;
      right: 550px;
    }

    &--10 {
      @include oval(45px);
      border: 3px solid #fcc304;
      top: 80px;
      left: 445px;

      @media (max-width:480px) {
        display: none;
      }
    }

    &--11 {
      @include oval(85px);
      border: 3px solid #f25656;
      top: 70px;
      left: 230px;
    }

    &--12 {
      @include oval(45px);
      border: 3px solid #f25656;
      top: 385px;
      right: 315px;
    }
  }
}
