.nav {
  &__list {
    display: flex;
    transition-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);

    @media (max-width:870px) {
      display: none;
    }
  }

  &__item {
    margin: 0 24px;
    line-height: 40px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.4, 1.4);
    }
  }

  &__link {
    padding: 8px 0;
    color: #fff;
    transform: scale(1, 1);
    transition: all 0.3s;

    &:hover {
      color: rgb(255, 204, 204);
    }
  }
}

.sidebarIconToggle {
  position: absolute;
  left: calc(50% - (54px / 2));
  cursor: pointer;

  @media (min-width:870px) {
    display: none;
  }
}

.spinner {
  transition: all 0.3s;
  height: 5px;
  margin: 7px;
  width: 40px;
  color: red;
  background-color: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  margin-top: 3px;
}

.openSidebarMenu {
  display: none;
}

// .openSidebarMenu:checked, body{
//   overflow-y: hidden;
// }

.openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  opacity: 0;
}

.openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  transform: rotate(135deg);
  top: 8px;
}

.openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  transform: rotate(-135deg);
  top: -15px;
}

.openSidebarMenu:checked ~ .nav > .nav__list {
  display: block;
  position: absolute;
  text-align: center;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #008aff;
  transform: scaleX(1);
}

.hire {
  position: relative;
  transform: scale(1, 1);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2, 1.2);
  }

  &__link {
    padding: 8px 0;
    line-height: 40px;
    height: 40px;
    color: #fff;
    transition: color 0.3s;
    

    &:hover {
      color: rgb(255, 204, 204);
    }
    
    &--is-active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 100%;
      background-color: red;
    }
  }
}
