.topic {
  width: 370px;
  color: #fff;

  @media (max-width:1200px) {
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width:500px) {
    width: 300px;
  }

  &__title {
    padding-top: 120px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;

    @media (max-width:500px) {
      font-size: 44px;
      line-height: 44px;
    }
  }

  &__text {
    padding-top: 32px;
    font-size: 18px;
  }

  &__button {
    margin-top: 80px;
  }
}

.button {
  transition: all 0.3s;

  &:hover {
    background-color: rgb(192, 75, 75);
  }
}
