.page__approach {
  margin-left: 10%;

  @media (max-width:1280px) {
    margin: 0 10%;
  }

  @media (max-width:400px) {
    margin: 0 auto;
  }
}

.approach {
  position: relative;
  z-index: 1;
  top: -100px;

  &__inside {
    position: relative;
    padding: 200px 0;
    background-color: #ff9c8e;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    color: #fff;

    @media (max-width:1280px) {
      border-top-right-radius: 150px;
      border-bottom-right-radius: 150px;
      padding: 150px 0 100px;
    }
  }

  &__content {
    margin-left: 100px;
    width: 360px;

    @media (max-width:1280px) {
      margin: 0 auto;
    }

    @media (max-width:700px) {
      width: 300px;
    }
  }

  &__name {
    margin-bottom: 16px;
    text-transform: uppercase;
    font-family: $secondaryFontFamily;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;

    @media (max-width:720px) {
      text-align: center;
    }
  }

  &__title {
    font-family: $secondaryFontFamily;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    @media (max-width:720px) {
      font-size: 26px;
      text-align: center;
    }
  }

  &__image {
    background: url("../images/approach/Photo.png");
    height: 680px;
    width: 687px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;

    @media (max-width:1280px) {
      display: none;
    }
  }
}

.quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;

  @media (max-width:700px) {
    flex-direction: column;
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    width: 64px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: all 0.5s;
    
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.6);
    }

    @media (max-width:700px) {
      margin-bottom: 25px;
    }
  }

  &__text {
    font-family: $secondaryFontFamily;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;

    width: 264px;
    margin-left: 32px;
  }
}
