.persons {
  padding-top: 85px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  &__person {
    margin-bottom: 30px;
  }

  @media (max-width:1440px) {
    flex-direction: column;
    align-items: center;
  }
}

.person {
  width: 300px;
  padding: 30px 10px 32px;
  cursor: pointer;

  background-color: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  position: relative;
  transition: all 0.5s;

  &:hover {
    box-shadow: 0 5px 9px;
  }

  &:hover.person::before {
    cursor: pointer;
    transform: rotate(-30deg);
    top: 40px;
    left: 20px;
  }

  &:hover.person::after {
    cursor: pointer;
    transform: rotate(-30deg);
    top: 205px;
    right: 20px;
  }

  &__img-wrapper {
    padding-bottom: 90px;
  }

  &__img {
    position: relative;
    margin-top: 50px;
    border-radius: 50%;
    z-index: 2;
  }

  &::before {
    content: " ";
    position: absolute;
    width: 139px;
    height: 56px;
    background: #56ccf2;
    border-radius: 12px;
    transform: rotate(-60deg);
    left: 30px;
    top: 70px;
    z-index: 1;
    transition: all 0.5s;
  }

  &::after {
    content: " ";
    position: absolute;
    width: 139px;
    height: 56px;
    background: #56ccf2;
    border-radius: 12px;
    transform: rotate(-60deg);
    right: 30px;
    top: 170px;
    z-index: 1;
    transition: all 0.5s;
  }

  &__name {
    padding-top: 16px;
    font-family: $secondaryFontFamily;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: 253757;
  }

  &__text {
    position: relative;
    padding-top: 20px;
    font-family: $secondaryFontFamily;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #6c788b;

    &::before {
      content: " ";
      background: url("../images/testimonials/card.svg");
      background-repeat: no-repeat;
      position: absolute;
      height: 20px;
      width: 20px;
      left: calc(50% - 20px);
      top: 0;
    }
  }

  &__job {
    padding-top: 4px;
    font-family: $mainFontFamily;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    color: #c0cdd7;
  }
}
