.testimonials {
  &__title-big {
    font-family: $mainFontFamily;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
  }

  &__title-small {
    font-family: $mainFontFamily;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3px;
    color: #c0cdd7;
  }
}
